[Unit]
Description=Run twin-refresh once a week, every Monday morning CET
Wants=twin-refresh.timer

[Service]
Type=oneshot
ExecStart=/usr/local/bin/twin/twin-refresh
User=phaazon
Group=phaazon

[Install]
WantedBy=multi-user.target
